@page "/welcome"

<PageTitle>Welcome dotnet2</PageTitle>

<h1>Welcome to class dotnet 2</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, sit. Veniam maxime iste dolores recusandae, sapiente nulla vitae animi natus quibusdam consectetur? Debitis explicabo doloribus, dolor in eaque impedit quo!</p>
