/* Xoá các khoảng trắng của trình duyệt */
* {
    margin: 0;
    padding: 0;
}
/* B1: Xoá dấu chấm trong danh sách */
.header{
    background-color: rgb(244 226 220);
}
.header ul{
    list-style: none;
}

/* B2: chuyển thẻ li từ block => inline */
.header li{
    display: inline;
}

.header a {
    text-decoration: none;
    color: black;
}